body{
    font-family: Verdana;font-size: 18px;background-color: rgb(248, 239, 232);
    }
header{
    background-color: aqua; min-width: 150px; min-height: 50px; padding-top: 15px;padding-bottom: 15px;
}
footer{
    background-color: aqua; min-height: 50px; padding-left: 20px; padding-top: 15px;padding-bottom: 15px; text-size-adjust;: 10px
}
table{
    width: 800px;font-family: 'Hanalei Fill', cursive;
    }
.p1{margin-left: 10px; padding: 10px; border-radius: 10px; 
    }
    td, th{padding: 10px 5px; background-color: rgb(241, 137, 57)}
    ul a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        }
        li{
        display: inline-block;
        height: 22px;
        width: 100px;
        padding: 10px;
        text-align: center;
        color: white;
        border-left: 1px solid rgb(30, 30, 25);
        border-right: 1px solid rgb(30, 30, 25);
        background-color: rgb(241, 137, 57);
        border-radius: 10px;
        }
        li:hover{
        background-color: rgb(173, 171, 30);
        border-style: none;
        }
    h2{
    margin-left: 20px;
    }
    form{
    margin-left: 20px;
    }
        input[type="text"], input[type="email"], textarea, select, button{
        display: block;
        margin: 15px 0px;
        width: 400px;
        padding-left: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: inset 2px 2px 5px grey;
        }
        textarea{
        height: 200px;
        background-color: aqua;
        padding: 5px 4px;
        }
        button:active{
        background-color: lightgreen;
        color: blue;
        border-radius: 8px;
        box-shadow: inset 2px 2px 5px rgb(173, 171, 30);
        }   